<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd">

    <security:global-method-security secured-annotations="enabled"/>
    
    <bean id="dataSource" 
	      class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	      <property name="url" value="jdbc:mysql://localhost:3306/foodcorner"/>
	      <property name="username" value="root"/>
	      <property name="password" value="123456789"/>
   </bean>
    
    <security:http auto-config="true">
        <!-- Restrict URLs based on role -->
        
        <security:intercept-url pattern="/AddProduct" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/AddCategory" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/AddUsers" access="hasRole('ROLE_ADMIN')" />
        
        <security:intercept-url pattern="/**" access="permitAll" />
        
        <!-- Override default login and logout pages -->
        <security:form-login login-page="/login" 
        					 username-parameter="email"
        					 password-parameter="password"
                             default-target-url="/" 
                             authentication-failure-url="/login?error=1" />
        <security:logout logout-url="/logout" logout-success-url="/index" />
        
         <security:csrf disabled="true"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider >
            
            <security:jdbc-user-service data-source-ref="dataSource" users-by-username-query="select uusername,upassword,active from users where uusername=?" authorities-by-username-query="SELECT uUSERNAME,urole FROM USERs where uUSERNAME=?;" />
            
        </security:authentication-provider>
    </security:authentication-manager>

</beans>